{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Bank{% endblock %}
{% block content %}

<body style= "background-color:#A52A2A">

<div class="container">
    <div class="col-md-12">


<p align="right" style="color:white">We  provide  great services in Uganda and all over the world</p>
    <p align="right" style="color:white">Our services add a great impact to the community</p>
   <p align ="right" style="color:white">We are  located in Entebbe  Bwerenga Road</p>

<div class="container">
 <img src="\static\anigif90.gif" align="left-top"  width="800" height="700"  >
    </div>
    </div>
    </div>

</body>
{% endblock %}