{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%} Agricultural loans{% endblock %}
    </title>
<body >
<div class="cointainer">
<h1>  Agricultural loans </h1>
    <p>Loans designed to finance agricultural business activities in the entire value chain including
        production , processing and marketing of products, animal production (diary, poultry and piggery projects),
        fishing and fish farming, bee keeping as well as food processing i.e. grain mills, oil mills and hullers.
        The loan period and repayment plan is dependent on the nature and season of the agricultural activity to be financed.</p>
    </div>
<div>
    <h1> Product Features: </h1>
    <p>Loan period for working capital purpose is up to a maximum 24 month development/investment may exceed 24 months.</p>
    <p>No principal loan repayments during the grace period except for the interest where cash flows allows.</p>
    <p> Repayable through equal instalment payments whose amounts are dependent on the projected cash flow of the agricultural activity</p>
    <p>Irregular payments can be structured basing on the cash flows</p>
    <p>Interest charged on reducing balance</p>
    <p>Minimum loan amount UShs. 100,000</p>
    <p>Payments from other sources of income are allowed</p>
    <p></p>
</div>
<div>
    <h1>Basic Requirements:</h1>
    <p>Current or Savings Bank account</p>
     <p>Completed loan application form</p>
     <p>Payment of loan processing fee</p>
     <p>Financial card</p>
     <p>Project undertaken must be an activity in the agricultural value chain</p>
     <p>Experience in project being undertaken</p>
     <p>Business project must be profitable</p>
     <p>Applicant must be resident within the branch designated area of operation</p>
     <p>Applicant must be owner or tenant of the land on which he/she operates.</p>
     <p>Securities can be mortgaged on titled or unregistered land, moveable assets like cows, goats, sheep, mortgaged household property or business equipment and tools
</p>
</div>
<div>
    <h1>Benefits:</h1>
    <p>Faster Loan processing speed</p>
    <p>Attractive interest rate</p>
    <p>Repayment plans structured to accommodate nature of cash flow</p>
    <p>Grace periods are offered</p>
    <p>Multiple disbursements offered to accommodate different stages of production cycle</p>
</div>










</body>

{% endblock %}