{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%} Airtel Money{% endblock %}
    </title>
<body >
<div class="cointainer">
<h1>  Airtel Money </h1>
    <p>Airtel money is a money transfer service offering from Airtel Mobile Commerce Uganda limited. The service allows you to load cash into your mobile phone and pay for goods and services as well as transfer cash.</p>
    </div>
<div class="cointainer" id="services">
<h1> Services Currently Offered:</h1>
    <p> .Cash in(deposits)<p>
     <p>.Cash out (withdraws)</p>
    <p> Basic Requirements:
        Requirements to send/receive money </p>
    </div>
<div class="col-sm-12">
    <p align="left">

<TABLE BORDER="3"  WIDTH="50%"  ALIGN="left"   CELLPADDING="4" CELLSPACING="3">
   <TR>
      <TH COLSPAN="3"><BR><H3 ALIGN="CENTER"> Requirements to send/recieve money</H3>
      </TH>
   </TR>
   <TR>
       <TH ALIGN="CENTER" > Registered customers</TH>
       <TH ALIGN="CENTER"> Unregistered customers</TH>
   </TR>
   <TR  ALIGN="CENTER">
       <TD> Valid identification</TD>
     <TD>Their mobile phone</TD>

    </TR>

    <TR  ALIGN="CENTER" >
        <TD>Secret PIN </TD>
        <TD>Have mobile money accounts</TD>
    </TR>

      <TR  ALIGN="CENTER" >
     <TD> Sign the Airtel transaction book</TD>
        <TD> Valid identification</TD>

    </TR>
     <TR  ALIGN="CENTER" >

     <TD> Token ID </TD>
        <TD>Secret code</TD>

    </TR>

    <TR  ALIGN="CENTER" >
        <TD>Can only receive money </TD>
        <TD>Withdraw the whole amount and not partially</TD>
    </TR>


</TABLE>
        </div>


</body>

{% endblock %}