{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%} Bank Over Draft {% endblock %}
    </title>
<body >
<div class="cointainer">
<h1>   Bank Over Draft  </h1>
    <p>Very short term credit facility designed to meet the Bank customers'
    urgent day-to-day cash requirements for their business transactions.
    The facility is renewable based on borrower's credit history with the Bank.</p>
    </div>
<div>
    <h1>  Product Features:</h1>
    <p>•	Loan term is up to a maximum of 12 months</p>
    <p>•	Commitment fee of 2% is charged</p>
    <p>•	Repayable through good account deposits</p>
    <p>•	Interest is linked to the Bank’s prime lending rate and charged on declining balance</p>
    <p>•	Minimum amount offered is Ushs100,000</p>


</div>
<div>
    <h1>Basic Requirements: </h1>
     <p> Current account with the bank.</p>
     <p> Application fee of UShs. 15,000.</p>
     <p> Completed Overdraft facility application form.</p>
     <p> Collateral for securing the loan.</p>
     <p>• Financial card required</p>
</div>
<div>
    <h1>Benefits: </h1>
    <p>Faster processing speed.</p>
    <p>Available funds for emergency cash needs.</p>
    <p>Multiple disbursements allowed.</p>
    <p>Offers greater financial flexibility.</p>
</div>










</body>

{% endblock %}
