{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%} Cente Point {% endblock %}
    </title>
<body >
<div class="cointainer">
<h1>  Cente Point   </h1>
    <p> CentePoint is a 24hour electronic cashier for Centenary Bank customers which provides access into customers' accounts by use of CenteCards on the Banks ATM machines located on-site in all the Bank’s branch offices and off-site in strategic places in the main towns around the country.</p>
    </div>
<div>
    <h1>Product features:</h1>
    <p>CenteCards issued.</p>
    <p>Instant transactions.</p>

</div>
<div>
    <h1>Basic Requirements:</h1>
    <p>Savings or Current account with the bank. </p>
</div>
<div>
    <h1>Benefits: </h1>
    <p>Instant cash and cheques deposit. </p>
    <p>Instant cash withdrawals. </p>
    <p>Print mini statements.</p>
    <p>Instant account balance inquiries. </p>


</div>
</body>

{% endblock %}