{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%}Cente Fixed Deposit Account{% endblock %}
    </title>
<body >
<div class="cointainer" id="centefixed">
<h1> Cente Fixed Deposit Account</h1>
    <p>An account where a customer's deposit are fixed for an agreed period of time subject to no  withdraws</p>
    <p> before the elapse of period. Income will be forfeirted for cash  withdraws made before maturity period.</p>

    </div>
<div id="mainfeatures">
    <h2> Main features</h2>
   <p>.  Minimum amount to be fixed is Ushs,200000</p>
     <p>. Maximum amount to be fixed is open </p>
     <p>. Can be held in both local and foreign currency</p>
     <p> .Cash withdraws personally made to the account by holders</p>
</div>
<div id="benefits">
    <h3> Benefits</h3>
   <p>An account earns interest at a rate higher than that applied on saving account</p>
     <p>.Account can be liquidated anytime on notice </p>
     <p>. Account can be pledged as collateral for loans</p>
     <p>. Renewable on maturity of 2,4,12 months</p>
     <p>. Rates are negotiable</p>
</div>
</body>

{% endblock %}