{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Contact us {% endblock %}
{% block content %}

<div class="row container-fluid">
<div class="col-sm-12">
</div>
</div>
<body style="background-color:#A52A2A">
<div class="cointainer">
    <h1> Contact </h1>
    </div>
<div class="col-sm-6" div class="container">

    <p id="rcorners1" >   We provides the best services to the community</p>
    </div>
<div class="col-sm-6" div class="container" align="center">
    <p id="rcorners2">  Please contact us on this number : 0701280731</p>
    </div>
<div class="col-sm-6" div class="container" align="right">
    <p  id="rcorners3"> Email us now : florencenamukwaya@gmail.com
    </p>
    </div>
<section class="main clearfix" style="display:inline;">
  <div class="work">
   <a href="http://www.youtube.com/user/RichesBank"  class="youtube">
         <img src="\static\YouTube-icon (1).png" width="40" height="40">
   </a><br>
  </div>
    <div class="work">
   <a href="https://twitter.com/RichesBank" class="twitter">
        <img src="\static\twitter-icon.jpg" width="40" height="40">
    </a><br>
  </div>
    <div class="work">
        <a href="https://facebook.com/RichesBank" class="facebook">
          <img src="\static\facebook-512.png" width="40" height=40">
    </a><br>
  </div>
    </section>

</body>

</div>
     </div>
</body>
{% endblock %}
