{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%}Current accounts{% endblock %}
    </title>
<body >
<div class="cointainer" id="currentaccount">

        <h1> Current accounts</h1>

    <p> Deposit designed for checking transactions where deposit funds are drawn on demand</p>
    <p> as long as there are sufficient funds in the account and the bank is open for business.</p>
    <p> It can be operated by individuals as a personal current or joint account and by  </p>
    <p> companies.Parternerships,Socities,Clubs and Associations as non-personal account.</p>

    </div>
<div  id="mainfeatures">
    <h2> Main features</h2>
     <p>. Cheque book and ATM cente card issued on request </p>
     <p>. Minimum monthly ledger for only Ushs 10,000#  </p>
     <p>. Account doesnot earn interest </p>
     <p>. Appointment of known agents by the account holder.</p>
     <p>. Regular monthly statements issued</p>

</div>


</body>

{% endblock %}