{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%} Ewater Payments{% endblock %}
    </title>
<body >
<div class="cointainer">

        <h1> Ewater Payments </h1>
    <p> This is a flexible and convenient water bill payment method for all our customers through all Riches Bank’s branches and service centers.</p>
</div>
<div>
    <h1> HOW IT WORKS</h1>
     <p>1. Visit any Riches Bank barnch</p>
     <p>2. Present your NWSC bill to the teller</p>
     <p>3. Make payment to Teller by cash or cheque</p>
     <p>4. Teller credits your NWSC account and issues you a stamped reciept as confirmation of payment</p>
     <p>5. Your NWSC will be updated and you will receive an instant SMS confirming this</p>
</div>
<div>
    <h1> Product features: </h1>
     <p>No bank charges.</p>
     <p>Instant confirmation of your payment to your mobile phone number.</p>
     <p>The service can be used by both our esteemed customers and the general public.</p>
</div>
<div>
    <h1> Basic Requirements:</h1>
     <p>Your National Water & Sewerage Corporation (NWSC) water bill or your</p>
     <p>NWSC customer reference number.</p>
     <p>The amount you wish to deposit to your NWSC account.</p>
     <p>Your mobile phone number.</p>
</div>
<div>
    <h1>Benefits:</h1>
    <p>Ease of making your water bill payment in a secure environment.</p>
    <p>Ability to make your water bill payment in over 59 service locations countrywide even you don't hold an account with Riches Bank</p>
    <p>Flexibility of payment (either cash, draft, standing order or cheque).</p>
    <p>Instant credit of your NWSC account.</p>
    <p>No charge.</p>
    <p>Flexible since you do not have to fill in a deposit slip.</p>
    <p>Payment is reflected on your NWSC account instantly.</p>
</div>
</body>

{% endblock %}