{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%} Home improvement loans{% endblock %}
    </title>
<body >
<div class="cointainer">
<h1>  Home improvement loans </h1>
    <p> Short term loan with both regular and irregular repayments targeted
        at home owners with regular income earnings for the purpose of financing home improvement
        either through construction/ renovation residential/commercial houses, erecting of perimeter wall/fence,
        installation of power and energy systems,kitchenettes, water supply and sanitation systems and building of latrines</p>
    </div>
<div>
    <h1> Product Features: </h1>
    <p>. Interest charged on declining balance</p>
    <p>. Minimum loan amount is UShs. 100,000/=</p>
    <p>. Maximum loan amount is UShs. 30 million </p>
    <p>. Regular and flexible loan repayment plans.</p>
    <p>. Maximum loan period of up to 36 months.</p>
</div>
<div>
    <h1> Basic Requirements: </h1>
    <p>. Saving or Current account with the bank</p>
    <p>. Applicant must have a home to improve.</p>
    <p>. Security for the loan.</p>
    <p>. Applicant must be resident in the branch designated area of operation.</p>
    <p>. Applicant must possess good source of income for repaying the loan.</p>
    <p>. Application fee of UShs. 15,000/=.</p>
    <p>. Commitment fee of 2% of loan amount.</p>
    <p>. Financial card</p>
</div>

<div>
    <h1>BENEFITS: </h1>
    <p>Fast and easiest way to improve homes.</p>
    <p>Improves living conditions of customers.</p>
    <p> Manageable loan installments.</p>
    <p> Competitive interest rate.</p>
</div>








</body>




{% endblock %}