{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%} MTN Mobile Money Transfer{% endblock %}
    </title>
<body >
<div class="cointainer">
<h1>   MTN Mobile Money Transfer</h1>
    <p> Riches Bank partnered with MTN Uganda to provide the mobile money service.</p>
    <p>MTN MobileMoney is a service that enables people to send and receive money anywhere in Uganda using their phones.</p>
    <p>The service operates by using an agent who is the intermediary between the parties in the transaction.</p>
     <p>The Bank has signed as ordinary and super agents to serve individuals and MTN agents respectively.</p>
    </div>


</body>

{% endblock %}