{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%} School Fees Payment Services {% endblock %}
    </title>
<body >
<div class="cointainer">
<h1>   School Fees Payment Services   </h1>
    <p> The Bank accepts school/tuition fees payments whether one has an account with Centenary Bank or not. Customers are free to choose any of the two payment options:</p>
    </div>
<div>
    <h1> Cash Payment Option</h1>
    <p> The Bank accepts cash deposit payments for school/tuition fees for students studying in educational institutions that have school/tuition fees collection accounts in the bank. The customers fill banking slips for school/tuition fees payment and hand to the cashier together with cash at any of the Banks branches. The transaction charge for the service isonly Ushs. 2,000.</p>
    </div>
<div>
    <h1>Benefits</h1>
     <p>No need to have an account with Riches Bank</p>
     <p>Service is available at only a small fee of UShs. 2,000</p>
     <p>Payment can be made at any of the Riches Bank branches</p>
     <p>If you are a Riches Bank customer, you also have the option of accessing the EFT Direct Debit Transfer Option</p>
     <p>EFT Direct Debit Transfers Option</p>
    <p>EFT Direct Debit Transfer Option facilitates the transfers of fees from the parents/guardians accounts to the educational institutions' account electronically provided the customer has executed a Direct Debit Agreement (DDA). The DDA which is available at educational institutions when executed authorises the Bank to collect fees from the parent's/guardian's bank account for electronic transfer to the educational institutions bank account</p>
</div>
<div>
    <h1>Benefits</h1>
    <p>Removes the inconveniences and pain parents, guardians and students face when paying fees</p>
    <p>Saves time, which can be more productively and economically utilized by customers</p>
    <p>Minimizes the risk of loss of money through con men and unscrupulous children</p>
    <p>Improves operational efficiency of banks as it removes long queues in banking halls</p>
    <p>Less deployment of security and staff to handle the influx of periodic payments</p>
    <p>Modern and safer process of making payments</p>
    <p>Reconciliation process is automated which makes it easier for the Bank to know who paid</p>
    <p>Eliminates the presentation of forged/fake bank slips by students to parents/guardians (inflated amount) or schools</p>
    <p>Cultivates and consolidates a strong banking culture, and more bank accounts may be opened</p>
    </div>

</body>

{% endblock %}
