{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%} {% endblock %}
    </title>
<body >
<div class="cointainer">
<h1>Solar loans </h1>
     <p>Centenary Bank's Solar Loan is a short term loan for providing finance to customers
         who desire to purchase an install solar power at their places of residence or business.</p>

    </div>
<div>
    <h1> Product Features: </h1>
     <p> Minimum loan amount term ranges from a minimum of six months to a maximum of 24months depending on the laon amount applied, the purpose and the capacity of the customer to service the loan</p>
     <p> Minimum loan amount Ushs 100,000 </p>
     <p> Maximum loan amount Ushs 20 million</p>
     <p> Loan amount shall not exceed 70% of the purchase/ installation price of the solar equipment</p>

</div>
<div>
    <h1>Basic Requirements:</h1>
    <p>Riches Bank Savings or Current account</p>
    <p>Verifiable source of regular income</p>
    <p>Customers premises should be located within the branch's operational area</p>
    <p>Original pro-forma invoice from the supplier of the solar equipment</p>
    <p>Loan application fee of UShs. 15,000/=</p>
</div>
<div>
    <h1>Security Requirements:</h1>
    <p>Secured with a combination of securities: moveable, immoveable and guarantors</p>
    <p>Solar equipment purchased must be part of security</p>
    <p>Value of loan securities to cover 150% of loan amount</p>
    <p>Deposit of original land purchase agreement with the Bank if loan is secured with a Kibanja.</p>
    <p>Written spousal consent is mandatory if the customer has a spouse(s)</p>
</div>
<div>
    <h1>Benefits: </h1>
     <p>Processing within 48 hours</p>
     <p>Affordable interest rates charged on declining balance</p>
     <p>Flexible repayment plans based on borrower's cash flow</p>
     <p>Loan period of up a maximum of 24months</p>
     <p>No penalty for early repayment</p>
    </div>




</body>

{% endblock %}