{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%} Standing Orders {% endblock %}
    </title>
<body >
<div class="cointainer">
<h1>   Standing Orders  </h1>
    <p> Convenient way by which the Centenary Bank customers pay off their bills and obligations through issue of standing instructions to automatically debit their accounts for credit of another account(s) with a specified amount on a specific date for a specified period.</p>
    </div>


</body>

{% endblock %}
