{%extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<title>
{% block body%} Western Union Money Transfer {% endblock %}
    </title>
<body >
<div class="cointainer">
<h1>   Western Union Money Transfer </h1>
    <p> The fastest way of sending and receiving money locally in Uganda and worldwide in more than 400 countries. The service is available from individual to individual and there is no requirement for the sender or receiver to have an account with Centenary Bank.</p>
</div>
<div>
    <h1>Product features:</h1>
    <p> . Money can be sent or received both locally & internationally.</p>
     <p>. One does not need to have an account.</p>
     <p>. Transfer money to any destination within a matter of 10 minutes.</p>
     <p>. Sender pays charges.</p>
     <p>. Money can be sent to companies registered with Western Union.</p>
</div>
<div>
     <h1> Basic Requirements to receive money:</h1>
     <p>  . Properly identified recipients in the possession of ID card, DL or Passport.</p>
      <p> . Correct names and address of sender.</p>
      <p> . Name of Country/city of senders origin.</p>
      <p> . Expected amount to be received.</p>
      <p> . Answer to test question.</p>
      <p> . Money Transfer Control Number (mandatory).</p>
      <p> . Valid identification documents ID, Driving license or Passport.</p>
    </div>
<div>
    <h1>Basic Requirements to Send Money:</h1>
    <p> . Name of destination country.</p>
    <p> . Amount to be sent.</p>
    <p> . Receiver’s full names.</p>
    <p> .  Test question if sending to Africa.</p>
    </div>
<div>
  <h1>Benefits: </h1>
    <p>. Money transfers take less than 10 minutes to get to destination.</p>
    <p>. Recipient pays no fees.</p>
     <p>. Easily accessible at any of our Branches.</p>
     <p>. Very reliable.</p>
     <p>. No requirement for opening of an account.</p>
     <p>. Highly confidential.</p>
     <p>. No minimum amounts required.</p>
     <p>. Can send and receive at any Western Union location.</p>
     <p>. Can send at receive at any locations.</p>

</div>










</body>

{% endblock %}